<div class="card component-card-nohdr">
    <div class="card-body">
        <div class="error-template text-center">
            <strong class="h1 font-weight-bold">Oops!</strong>
            <h2> Page Not Found
                <small>
                    <font face="Tahoma" class="red">Error 404</font>
                </small>
            </h2>
            <div class="error-details">We're sorry, the page you requested cannot be found!</div>
            <!-- <div class="error-actions" style="padding-top: 30px;">
                <a href="javascript:void(0)" class="btn btn-primary" (click)="goBack()"
                    title="Go Back to Previous Page">
                    <i class="fa fa-arrow-left"></i> Go Back
                </a>&nbsp;&nbsp;&nbsp;
                <a href="javascript:void(1)" (click)="goHome()" class="btn btn-primary" title="Go to Home Page">
                    <i class="fa fa-home"></i> Take Me Home
                </a>
            </div> -->
        </div>
    </div>
</div>
