<ngx-ui-loader></ngx-ui-loader>
<main>
    <div role="case search" class="page-padding mrt-1">
        <div class="form-border">
            <h2 class="page-sub-header-font">
                Case Search
            </h2>
            <form [formGroup]="formData" (ngSubmit)="search()">
                <div class="p-0 p-md-3 mx-0  mx-md-4 border-info rounded from-rta">
                    <div class="row form-fields">
                        <div class="col-lg-4 col-md-12 col-sm-12 case-number">
                            <custom-input-text formControlName="caseNumber" [id]="getId('caseNumber')"
                                (change)="formElemChange($event)" [field]="fields.caseNumber">
                            </custom-input-text>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-fields">
                            <custom-input-date #d formControlName="startDate" [id]="getId('startDate')"
                                [required]="false" [field]="fields.startDate" [minDate]="dobMinDate"
                                [maxDate]="dobMaxDate">
                            </custom-input-date>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-fields">
                            <custom-input-date #d formControlName="endDate" [id]="getId('endDate')" [required]="false"
                                [field]="fields.endDate" [minDate]="dobMinDate" [maxDate]="dobMaxDate">
                            </custom-input-date>
                            <div *ngIf="dateError" class="date-error">
                                please provide valid dates.
                            </div>
                        </div>
                    </div>
                    <!-- <div class=" mt-5 text-right">
                        <button class="btn search-btn case-search-btn" type="submit" [attr.id]="getId('submitBtn')"
                        [disabled]="formData.invalid || ( !this.formData.value.caseNumber  &&  !this.formData.value.startDate  && !this.formData.value.endDate)">Search</button>
                    </div> -->
                    <div class="row mar-top-20">
                        <div class="col-lg-6 col-md-12 col-sm-12"></div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class=" mt-3">
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col">
                                        <button class="btn search-btn case-search-btn" type="submit"
                                            [attr.id]="getId('submitBtn')"
                                            [disabled]="formData.invalid || ( !this.formData.value.caseNumber  &&  !this.formData.value.startDate  && !this.formData.value.endDate)">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="mrt-2" *ngIf="dispositionsList.length && !errorFlag">
            <table class="table table-cl case-details-table">
                <thead class="table-head">
                    <tr>
                        <th scope="col" class="th-br">Case #</th>
                        <th scope="col" class="th-br">EDG/EDBC Run date</th>
                        <th scope="col" class="th-br">Disposition Date</th>
                        <th scope="col" class="th-br">Case Action Type</th>
                        <th scope="col"><span class='hidden'>Edge Dispotions</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let case of dispositionsList; let i=index;">
                        <td class="td-br">{{case?.caseNum}}</td>
                        <td class="td-br">{{case?.edbcRunDt | date:'medium'}}</td>
                        <td class="td-br">{{case?.diActionDt | date:'medium'}}</td>
                        <td class="">{{case?.caseModeCode?.description}}</td>
                        <td class="td-pd" (click)="sortOn(i)">
                            <app-case-details-table [i]="i" [sortedTable]="sortedTable" [direction]="direction"
                                [disposedSegments]="case.disposedSegments"
                                (sortByParent)="sortBy($event)"></app-case-details-table>
                            <div class="generate-report-btn"><button class="btn report-btn"
                                    (click)="generateReport(i);$event.stopPropagation();">Generate Report</button></div>
                        </td>
                        <!-- <td class="td-pd">
                            <table class="table ">
                                <thead class="">
                                    <tr>
                                        <th scope="col" class="th-bt th-bl-0 sortable-column" (click)="sortBy(i,'program')">Program</th>
                                        <th scope="col" class="th-bt">EDG #</th>
                                        <th scope="col" class="th-bt sortable-column" (click)="sortBy(i,'toa')">TOA</th>
                                        <th scope="col" class="th-bt sortable-column" (click)="sortBy(i,'benefitStartDt')">Benefit Start Dt</th>
                                        <th scope="col" class="th-bt">Benefit End Dt</th>
                                        <th scope="col" class="th-bt th-br-0">Application Dt</th>
                                        <th scope="col" class="th-bt">Application Dt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let program of case.disposedSegments">
                                        <td class="th-bl-0">{{program.program}}</td>
                                        <td>{{program.edgNum}}</td>
                                        <td>{{program.toa}}</td>
                                        <td>{{program.benefitStartDt | date: 'mediumDate'}}</td>
                                        <td>{{program.benefitEndDt | date: 'mediumDate'}}</td>
                                        <td class="th-br-0">{{program.applicationDt | date: 'mediumDate'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="generate-report-btn"><button class="btn report-btn">Generate Report</button></div>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mlt-2 error" *ngIf="!dispositionsList.length">
            <div class="ml-2 " *ngIf="errorFlag === true; else noresults">{{errorMsg}}</div>
            <ng-template #noresults>{{noDispositionsMsg}}</ng-template>
        </div>
    </div>
</main>