<div class="thcr_ui">
    <app-header></app-header>
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
</div>
<!-- <ng-template #logoutmodal let-modal>
    <div class="modal-body">
        Session is about to expire, would you like to continue?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="continue(false)">No</button>
        <button type="button" class="btn btn-outline-dark" (click)="continue(true)">Yes</button>
    </div>
</ng-template> -->